#footer
	.center
		.left
			.logo
				.icon
				%p bestowd
			%span Copyright © bestow 2016. All rights reserved.
		.right
			%ul
				%li
					%h4 Connectc
				%li
					%a{:href=>''} Twitter
				%li
					%a{:href=>''} Facebook
				%li
					%a{:href=>''} Instagram
				%li
					%a{:href=>''} email
			%ul
				%li
					%h4 This is bestowd
				%li
					%a{:href=>''} About
				%li
					%a{:href=>''} Privacy Policy
				%li
					%a{:href=>''} Terms & Conditions
					

			
			